@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');


/* Reset container */

.reset-container{
    position: absolute;
    width: 607px;
    height: 393.8px;
    left: 135px;
    top: 340px;
}

.reset-container h2{
    font-family: Merienda;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 20px;
    font-size: 23.3829px;
    line-height: 47px;
    font-weight: 400;
    color: #0B1659;
    position: relative;
    left: -15px;
}
.blue-green-gradient2{
    position: absolute;
    width: 438.84px;
    height: 433.35px;
    left: -159px;
    top: 260px;
    border-radius: 400px;
    background: radial-gradient(98.23% 98.23% at 39.94% 8.35%, #8DB30C 0%, #0B1659 100%) ;
    opacity: 0.2;    
}
.reset-card{
    position: absolute;
    width: 476px;
    height: 485px;
    left: 876px;
    top: 227px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 64px;
    gap: 24px;
}

.reset-info{
    position: absolute;
    top: 20px;
    left: 60px;
    width: 343px;
    height: 479.03px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.reset-info h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0B1659;
    /* position: absolute; */
    margin-bottom: 40px;

}
.reset-info input{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: none;
    width: 350px;
    height: 48.47px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.575);
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.reset-info form{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
}

form p,
form a{
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 8px;
}
form a{
    color: #8BB10C;
    padding-left: 8px;
}

button{
    background-color: #8BB10C;
    border: none;
    width: 350px;
    height: 48px;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 48px;
    text-transform: capitalize;
    letter-spacing: 1px;
    
}

button:hover{
    cursor: pointer;
}